- 학습시작일 : 2022년 04월 17일 - 12시 16분

# 03-1 나만의 데이터 만들기

## 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series( ['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [10]:
s = pd.Series( ['Wes Mckinney','Creator of Pandas'] )
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object

In [11]:
s = pd.Series( ['Wes McKinney', 'Creator of Pandas'], index = ['person', 'Who'])
print(s)

person         Wes McKinney
Who       Creator of Pandas
dtype: object

## 데이터프레임 만들기

In [14]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}
)

In [16]:
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [17]:
scientists_addindex = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, index = ['Rosaline Frankline', 'William Gosset'])

In [18]:
print(scientists_addindex)

                                 Name    Occupation        Born        Died  \
Rosaline Frankline  Rosaline Franklin       Chemist  1920-07-25  1958-04-16
William Gosset         William Gosset  Statistician  1876-06-13  1937-10-16

                    Age
Rosaline Frankline   37
William Gosset       61

In [19]:
scientists_addindex2 = pd.DataFrame(data = {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, index = ['Rosaline Frankline', 'William Gosset'])

In [20]:
print(scientists_addindex2)

                                 Name    Occupation        Born        Died  \
Rosaline Frankline  Rosaline Franklin       Chemist  1920-07-25  1958-04-16
William Gosset         William Gosset  Statistician  1876-06-13  1937-10-16

                    Age
Rosaline Frankline   37
William Gosset       61

In [21]:
scientists_addindex_columns = pd.DataFrame(data = {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, 
    index = ['Rosaline Frankline', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died'])

In [22]:
print(scientists_addindex_columns)

                      Occupation        Born  Age        Died
Rosaline Frankline       Chemist  1920-07-25   37  1958-04-16
William Gosset      Statistician  1876-06-13   61  1937-10-16

In [23]:
scientists_addindex_columns_no = pd.DataFrame( {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, 
    ['Rosaline Frankline', 'William Gosset'],
    ['Occupation', 'Born', 'Age', 'Died'])

In [24]:
print(scientists_addindex_columns_no)

                      Occupation        Born  Age        Died
Rosaline Frankline       Chemist  1920-07-25   37  1958-04-16
William Gosset      Statistician  1876-06-13   61  1937-10-16

In [38]:
scientist = pd.DataFrame(([1,2,3,4],['a','b','c','d'],[1, 'None', 2,4],[99,11,20]), columns=['o','p','q','r'])
scientist

    o     p   q     r
0   1     2   3     4
1   a     b   c     d
2   1  None   2     4
3  99    11  20  None

In [47]:
fruit = pd.DataFrame(
    data = {'Name' : ['Apple', 'Banana', 'Peach', 'Melon'],
            'price' : [500, 300, 200, 1000],
            'from': ['한국', '일본', '중국', '미국']}
            )

In [49]:
fruit['맛'] = ['좋음', '안좋음', '나쁨', '존맛']

In [55]:
fruit = fruit.drop(['맛'], axis = 1)

In [56]:
fruit

     Name  price from
0   Apple    500   한국
1  Banana    300   일본
2   Peach    200   중국
3   Melon   1000   미국

In [57]:
fruit.drop(2, axis = 0)

     Name  price from
0   Apple    500   한국
1  Banana    300   일본
3   Melon   1000   미국

In [58]:
fruit

     Name  price from
0   Apple    500   한국
1  Banana    300   일본
2   Peach    200   중국
3   Melon   1000   미국

# 03-2 시리즈 다루기 - 기초

In [61]:
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1973-10-16'],
        'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age'])

In [62]:
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1973-10-16   61

In [68]:
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Age' : [37, 61],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1973-10-16'],
        },
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age'])

In [69]:
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1973-10-16   61

In [72]:
first_row = scientists.loc['William Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1973-10-16
Age                     61
Name: William Gosset, dtype: object

In [73]:
print(type(first_row))

<class 'pandas.core.series.Series'>