- 학습시작일 : 2022년 04월 17일 - 12시 16분

# 03-1 나만의 데이터 만들기

### 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series( ['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series( ['Wes Mckinney','Creator of Pandas'] )
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series( ['Wes McKinney', 'Creator of Pandas'], index = ['person', 'Who'])
print(s)

person         Wes McKinney
Who       Creator of Pandas
dtype: object

### 데이터프레임 만들기

In [4]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}
)

In [5]:
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists_addindex = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, index = ['Rosaline Frankline', 'William Gosset'])

In [7]:
print(scientists_addindex)

                                 Name    Occupation        Born        Died  \
Rosaline Frankline  Rosaline Franklin       Chemist  1920-07-25  1958-04-16
William Gosset         William Gosset  Statistician  1876-06-13  1937-10-16

                    Age
Rosaline Frankline   37
William Gosset       61

In [8]:
scientists_addindex2 = pd.DataFrame(data = {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, index = ['Rosaline Frankline', 'William Gosset'])

In [9]:
print(scientists_addindex2)

                                 Name    Occupation        Born        Died  \
Rosaline Frankline  Rosaline Franklin       Chemist  1920-07-25  1958-04-16
William Gosset         William Gosset  Statistician  1876-06-13  1937-10-16

                    Age
Rosaline Frankline   37
William Gosset       61

In [10]:
scientists_addindex_columns = pd.DataFrame(data = {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, 
    index = ['Rosaline Frankline', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died'])

In [11]:
print(scientists_addindex_columns)

                      Occupation        Born  Age        Died
Rosaline Frankline       Chemist  1920-07-25   37  1958-04-16
William Gosset      Statistician  1876-06-13   61  1937-10-16

In [12]:
scientists_addindex_columns_no = pd.DataFrame( {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}, 
    ['Rosaline Frankline', 'William Gosset'],
    ['Occupation', 'Born', 'Age', 'Died'])

In [13]:
print(scientists_addindex_columns_no)

                      Occupation        Born  Age        Died
Rosaline Frankline       Chemist  1920-07-25   37  1958-04-16
William Gosset      Statistician  1876-06-13   61  1937-10-16

In [14]:
scientist = pd.DataFrame(([1,2,3,4],['a','b','c','d'],[1, 'None', 2,4],[99,11,20]), columns=['o','p','q','r'])
scientist

    o     p   q     r
0   1     2   3     4
1   a     b   c     d
2   1  None   2     4
3  99    11  20  None

In [15]:
fruit = pd.DataFrame(
    data = {'Name' : ['Apple', 'Banana', 'Peach', 'Melon'],
            'price' : [500, 300, 200, 1000],
            'from': ['한국', '일본', '중국', '미국']}
            )

In [16]:
fruit['맛'] = ['좋음', '안좋음', '나쁨', '존맛']

In [17]:
fruit = fruit.drop(['맛'], axis = 1)

In [18]:
fruit

     Name  price from
0   Apple    500   한국
1  Banana    300   일본
2   Peach    200   중국
3   Melon   1000   미국

In [19]:
fruit.drop(2, axis = 0)

     Name  price from
0   Apple    500   한국
1  Banana    300   일본
3   Melon   1000   미국

In [20]:
fruit

     Name  price from
0   Apple    500   한국
1  Banana    300   일본
2   Peach    200   중국
3   Melon   1000   미국

# 03-2 시리즈 다루기 - 기초

### 데이터프레임에서 시리즈 선택하기

In [21]:
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1973-10-16'],
        'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age'])

In [22]:
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1973-10-16   61

In [23]:
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Age' : [37, 61],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1973-10-16'],
        },
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age'])

In [24]:
scientists

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1973-10-16   61

In [25]:
first_row = scientists.loc['William Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1973-10-16
Age                     61
Name: William Gosset, dtype: object

In [26]:
print(type(first_row))

<class 'pandas.core.series.Series'>

In [38]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [40]:
first_row.values

array(['Statistician', '1876-06-13', '1973-10-16', 61], dtype=object)

In [41]:
first_row.array

<PandasArray>
['Statistician', '1876-06-13', '1973-10-16', 61]
Length: 4, dtype: object

In [42]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1973-10-16
Age                     61
Name: William Gosset, dtype: object

In [43]:
type(first_row)

pandas.core.series.Series

In [44]:
first_row_array = first_row.array

In [45]:
type(first_row_array)

pandas.core.arrays.numpy_.PandasArray

In [49]:
first_row_np = first_row.to_numpy()

In [50]:
type(first_row_np)

numpy.ndarray

In [48]:
type(first_row)

pandas.core.series.Series

In [51]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [52]:
print(first_row.index[0])

Occupation

In [56]:
fnp = first_row.keys().to_numpy()

In [57]:
fnp

array(['Occupation', 'Born', 'Died', 'Age'], dtype=object)

In [59]:
import numpy as np

In [78]:
npnp = np.array([1,2,3,4,5], dtype ='f2')
npnp

array([1., 2., 3., 4., 5.], dtype=float16)

In [65]:
npnp

array([1, 2, 3, 4, 5])

In [79]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [81]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [82]:
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [83]:
first_row.keys()[0]

'Occupation'

In [84]:
print(first_row.keys()[0])

Occupation

## 시리즈 속성과 메서드 사용하기 - index, values, keys

### 시리즈의 mean, min, max, std 메서드 사용하기

In [86]:
ages = scientists['Age']

In [88]:
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [89]:
type(ages)

pandas.core.series.Series

In [90]:
print(ages.mean())

49.0

In [91]:
print(ages.min())

37

In [92]:
print(ages.max())

61

In [93]:
print(ages.std())

16.97056274847714

|시리즈메서드|설명|
|---|----|
|append  |2개 이상의 시리즈 연결|
|describe |요약 통계량 계산|
|drop_duplicates |중복값이 없는 시리즈 반환|
|equals| 시리즈에 해당 값을 가진 요소가 있는지 확인|
|get_values| 시리즈 값 구하기(values 속성과 동일)|
|isin| 시리즈에 포함된 값이 있는지 확인|
|min| 최솟값 반환|
|max| 최댓값 반환|
|mean| 산술 평균 반환|
|mediam |중간값 반환|
|replace| 특정값을 가진 시리즈 값을 교체|
|sample| 시리즈에서 임의의 값을 반환|
|sort_vlaues| 값을 정렬|
|to_fram| 시리즈를 데이터프레임으로 변환|

In [97]:
ages.sort_values()

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [108]:
ages.equals(scientist)

False

AttributeError: ignored

In [101]:
scientists.columns

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [102]:
scientists.sort_values(by = 'Age')

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1973-10-16   61

# 03-3 시리즈 다루기 - 응용

## 시리즈와 불린 추출

### 시리즈와 불린 추출 사용하기

In [114]:
scientists = pd.read_csv('https://raw.githubusercontent.com/countifs/fork-doit_pandas/master/data/scientists.csv')

In [115]:
scientists.head()

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [116]:
ages = scientists['Age']
print(ages.max())

90

In [117]:
print(ages.mean())

59.125

In [119]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [120]:
ages>ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [123]:
ages_mean = ages>ages.mean()

In [125]:
ages_mean.array

<PandasArray>
[False, True, True, True, False, False, False, True]
Length: 8, dtype: bool

In [127]:
ages_mean.to_numpy()

array([False,  True,  True,  True, False, False, False,  True])

In [122]:
print(type(ages > ages.mean() ) )

<class 'pandas.core.series.Series'>

In [128]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## 시리즈와 브로드캐스팅

### 벡터와 스칼라로 브로드캐스팅 수행하기

In [130]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [129]:
print( ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [131]:
print(ages  + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [132]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [134]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [136]:
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [140]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [141]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [142]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [144]:
sort_ages = ages.sort_values()
print(sort_ages)

0    37
6    41
5    45
4    56
1    61
3    66
7    77
2    90
Name: Age, dtype: int64

# 03-4 데이터프레임 다루기

## 불린 추출과 브로드캐스팅

### 불린 추출과 브로드캐스팅

In [145]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [147]:
scientists['Age'].mean()

59.125

In [150]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [148]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [149]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

# 03-5 시리즈와 데이터프레임의 데이터 처리하기

### 시리즈와 데이터프레임의 데이터 처리하기

In [158]:
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [172]:
scientists.loc[ 0:5, ['Name', 'Born']]

                   Name        Born
0     Rosaline Franklin  1920-07-25
1        William Gosset  1876-06-13
2  Florence Nightingale  1820-05-12
3           Marie Curie  1867-11-07
4         Rachel Carson  1907-05-27
5             John Snow  1813-03-15

In [169]:
scientists['Born']

0    1920-07-25
1    1876-06-13
2    1820-05-12
3    1867-11-07
4    1907-05-27
5    1813-03-15
6    1912-06-23
7    1777-04-30
Name: Born, dtype: object

In [151]:
print(scientists['Born'].dtype)

object

In [152]:
print(scientists['Died'].dtype)

object

In [157]:
scientists['Died']

0    1958-04-16
1    1937-10-16
2    1910-08-13
3    1934-07-04
4    1964-04-14
5    1858-06-16
6    1954-06-07
7    1855-02-23
Name: Died, dtype: object

In [192]:
scientists_time = scientists.loc[ 0:5, ['Name', 'Born']]
scientists_time

                   Name        Born
0     Rosaline Franklin  1920-07-25
1        William Gosset  1876-06-13
2  Florence Nightingale  1820-05-12
3           Marie Curie  1867-11-07
4         Rachel Carson  1907-05-27
5             John Snow  1813-03-15

In [198]:
scientists_time.loc[3, 'Name'] = 'KIMJAEHO'

In [199]:
scientists_time

                   Name        Born
0     Rosaline Franklin  1920-07-25
1        William Gosset  1876-06-13
2  Florence Nightingale  1820-05-12
3              KIMJAEHO  1867-11-07
4         Rachel Carson  1907-05-27
5             John Snow  1813-03-15

In [178]:
scientists_time['Born'] = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')

In [180]:
scientists_time['Born']

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
Name: Born, dtype: datetime64[ns]

In [155]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [258]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [260]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)

In [261]:
scientists.head()

,Name,Born,Died,Age,Occupation,born_dt,died_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14

In [263]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
 5   born_dt     8 non-null      datetime64[ns]
 6   died_dt     8 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 576.0+ bytes

In [264]:
scientists.describe()

             Age
count   8.000000
mean   59.125000
std    18.325918
min    37.000000
25%    44.000000
50%    58.500000
75%    68.750000
max    90.000000

In [267]:
scientists.shape

(8, 7)

In [268]:
scientists.isna()

    Name   Born   Died    Age  Occupation  born_dt  died_dt
0  False  False  False  False       False    False    False
1  False  False  False  False       False    False    False
2  False  False  False  False       False    False    False
3  False  False  False  False       False    False    False
4  False  False  False  False       False    False    False
5  False  False  False  False       False    False    False
6  False  False  False  False       False    False    False
7  False  False  False  False       False    False    False

In [272]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])

In [273]:
scientists.head()

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days

In [274]:
scientists['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [275]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

/usr/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [277]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [278]:
scientists_dropped = scientists.drop(['Age'], axis = 1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 03-6 데이터 저장하고 불러오기

In [295]:
names = scientists['Name']

In [280]:
#구글드라이브 마운트하기
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [296]:
names.to_pickle('/content/drive/MyDrive/fork/fork-doit_pandas/practice/scientists_names_series.pickle')

In [299]:
scientists.to_pickle('/content/drive/MyDrive/fork/fork-doit_pandas/practice/scientists_df.pickle')

In [297]:
scientists_name_from_pickle = pd.read_pickle('/content/drive/MyDrive/fork/fork-doit_pandas/practice/scientists_names_series.pickle')

In [300]:
scientists_df_from_pickle = pd.read_pickle('/content/drive/MyDrive/fork/fork-doit_pandas/practice/scientists_df.pickle')

In [298]:
scientists_name_from_pickle

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [301]:
scientists_df_from_pickle

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,66,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,56,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,41,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,77,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,90,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,37,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,61,Mathematician,1777-04-30,1855-02-23,28422 days

In [200]:
import numpy as np

In [215]:
import pandas as pd
import numpy as np

np.random.seed(0)

df = pd.DataFrame(np.random.randint(1,20,size=(10, 4)), columns=list('ABCD'))

print (df.index[df['B'] == 19].tolist())

[6, 9]

In [222]:
df.where(df['A']==5)

     A    B     C    D
0  NaN  NaN   NaN  NaN
1  NaN  NaN   NaN  NaN
2  5.0  7.0  13.0  2.0
3  NaN  NaN   NaN  NaN
4  NaN  NaN   NaN  NaN
5  NaN  NaN   NaN  NaN
6  NaN  NaN   NaN  NaN
7  NaN  NaN   NaN  NaN
8  NaN  NaN   NaN  NaN
9  NaN  NaN   NaN  NaN

In [223]:
df.where(df['A']==5, 0)

   A  B   C  D
0  0  0   0  0
1  0  0   0  0
2  5  7  13  2
3  0  0   0  0
4  0  0   0  0
5  0  0   0  0
6  0  0   0  0
7  0  0   0  0
8  0  0   0  0
9  0  0   0  0

In [224]:
df.at[9, 'A']

12

In [210]:
np.random.seed(0)
print(np.random.random(4))
np.random.seed(2)
print(np.random.random(4))
np.random.seed(0)
print(np.random.random(3))
np.random.seed(4)
print(np.random.random(4))
np.random.seed(2)
print(np.random.random(2))

[0.5488135  0.71518937 0.60276338 0.54488318]
[0.4359949  0.02592623 0.54966248 0.43532239]
[0.5488135  0.71518937 0.60276338]
[0.96702984 0.54723225 0.97268436 0.71481599]
[0.4359949  0.02592623]